.container {
  padding: 20px;
}
.title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}
.movieGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.loading,
.error {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;

  input {
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    color: #000;
    height: 40px;
    min-width: 300px;
  }
}
